# Visual Studio
.vs/
*.user
*.suo


# .NET
bin/
obj/


# Uploads (very important - don't upload user documents)
VerificationApi/Uploads/

# Frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db